# Formatting the data

In the dataframe, the first thing to do is to alter columns that may be in the incorrect format.

The first steps will be to simply look at the data types of the columns to see if anything sticks out:

In [12]:
import pandas as pd
from data_transform import DataTransform

# Read data and create instance of class

df = pd.read_csv('loan_payments_data.csv')
data_transformer = DataTransform()

# Print out the information of the dataframe

df.info()

Index(['id       ', 'member_id ', 'loan_amount ', 'funded_amount ',
       'funded_amount_inv  ', 'term      ', 'int_rate ', 'instalment ',
       'grade ', 'sub_grade ', 'employment_length ', 'home_ownership ',
       'annual_inc ', 'verification_status ', 'issue_date ',
       'loan_status                                         ', 'payment_plan ',
       'purpose            ', 'dti   ', 'delinq_2yrs ',
       'earliest_credit_line ', 'inq_last_6mths ', 'mths_since_last_delinq ',
       'mths_since_last_record ', 'open_accounts ', 'total_accounts ',
       'out_prncp ', 'out_prncp_inv ', 'total_payment  ', 'total_payment_inv ',
       'total_rec_prncp ', 'total_rec_int ', 'total_rec_late_fee ',
       'recoveries      ', 'collection_recovery_fee ', 'last_payment_date ',
       'last_payment_amount ', 'next_payment_date ', 'last_credit_pull_date ',
       'collections_12_mths_ex_med ', 'mths_since_last_major_derog ',
       'policy_code ', 'application_type'],
      dtype='object')

C:\Users\msyne\AppData\Local\Temp\ipykernel_28136\4036493406.py:6: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan_payments_data.csv')

We can already see some issues with some of the datatypes. Firstly, the id and member_id are of type int64. This needs to be changed, as the id's should be a string, and not an integer. 

The datatypes don't tell the full story however. Let's look at the head of the dataframe to see if any other issues arise to do with the way the data is layed out:

In [2]:
# Load the first 10 columns of the DataFrame

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
df.head(10)

   id         member_id   loan_amount   funded_amount   funded_amount_inv    term        int_rate   instalment   grade   sub_grade   employment_length   home_ownership   annual_inc   verification_status   issue_date  loan_status                                           payment_plan   purpose              dti     delinq_2yrs   earliest_credit_line   inq_last_6mths   mths_since_last_delinq   mths_since_last_record   open_accounts   total_accounts   out_prncp   out_prncp_inv   total_payment    total_payment_inv   total_rec_prncp   total_rec_int   total_rec_late_fee   recoveries        collection_recovery_fee   last_payment_date   last_payment_amount   next_payment_date   last_credit_pull_date  collections_12_mths_ex_med   mths_since_last_major_derog   policy_code  application_type
0   38676116    41461848          8000         8000.0                8000.0  36 months       7.49        248.82  A       A4          5 years             MORTGAGE             46000.0  Not Verified          Jan-2021     Current                                       ...    n              credit_card           19.54             2  Oct-1987                             1                     5.0                                        12               27     5529.70         5529.70          2982.51             2982.51           2470.30          512.21                  0.0               0.0                       0.0  Jan-2022                          248.82  Feb-2022            Jan-2022                                       0.0                          5.0              1       INDIVIDUAL
1   38656203    41440010         13200        13200.0               13200.0  36 months       6.99        407.52  A       A3          9 years             RENT                 50000.0  Not Verified          Jan-2021     Current                                       ...    n              credit_card           24.20             0  Sep-2001                             0                                                                15               31     9102.83         9102.83          4885.11             4885.11           4097.17          787.94                  0.0               0.0                       0.0  Jan-2022                          407.52  Feb-2022            Jan-2022                                       0.0                                           1       INDIVIDUAL
2   38656154    41439961         16000        16000.0               16000.0  36 months       7.49        497.63  A       A4          8 years             MORTGAGE             73913.0  Source Verified       Jan-2021     Fully Paid                                    ...    n              credit_card           16.92             0  Sep-1998                             0                    69.0                                         7               18        0.00            0.00         16824.54            16824.54          16000.00          824.54                  0.0               0.0                       0.0  Oct-2021                        12850.16                      Oct-2021                                       0.0                                           1       INDIVIDUAL
3   38656128    41439934         15000        15000.0               15000.0  36 months      14.31        514.93  C       C4          1 year              RENT                 42000.0  Source Verified       Jan-2021     Fully Paid                                    ...    n              debt_consolidation    35.52             0  Jun-2008                             0                    74.0                                         6               13        0.00            0.00         15947.47            15947.47          15000.00          947.47                  0.0               0.0                       0.0  Jun-2021                        13899.67                      Jun-2021                                       0.0                                           1       INDIVIDUAL
4   38656121    41439927         15000        15000.0               15000.0  36 months       6.03        456.54  A       A1          10+ years           MORTGAGE            145000.0  Verified              Jan-2021     Current                                       ...    n              debt_consolidation     3.33             0  Apr-2002                             1                    37.0                                        23               50    10297.47        10297.47          5473.46             5473.46           4702.53          770.93                  0.0               0.0                       0.0  Jan-2022                          456.54  Feb-2022            Jan-2022                                       0.0                                           1       INDIVIDUAL
5   38656111    41439917          2525         2525.0                2525.0  36 months      11.44         83.20  B       B4          < 1 year            OWN                  32000.0  Source Verified       Jan-2021     Current                                       ...    n              home_improvement       6.60             1  Mar-2011                             0                     8.0                                         3                4     1842.68         1842.68           913.60              913.60            682.32          231.28                  0.0               0.0                       0.0  Jan-2022                           91.39  Feb-2022            Jan-2022                                       0.0                                           1       INDIVIDUAL
6   38656110    41439916          6675         6675.0                6675.0                 21.99        254.89  E       E5                              RENT                 13536.0  Verified              Jan-2021     Fully Paid                                    ...    n              debt_consolidation    16.13             0  Nov-2006                             2                                                                 3                4        0.00            0.00          6963.53             6963.53           6675.00          288.53                  0.0               0.0                       0.0  Mar-2021                         6724.95                      Mar-2021                                       0.0                                           1       INDIVIDUAL
7   38656067    41439872         26500        26500.0               26200.0                 19.99        701.95  E       E3          < 1 year            RENT                 78000.0  Source Verified       Jan-2021     Charged Off                                   ...    n              debt_consolidation    13.71             0  Mar-2001                             0                    43.0                                        10               37        0.00            0.00          4182.27             4134.92           1197.35         2984.92                  0.0               0.0                       0.0  Aug-2021                          701.95                      Jan-2022                                       0.0                         43.0              1       INDIVIDUAL
8   38656063    41439868         10000        10000.0               10000.0  60 months      12.99        227.48  C       C2          < 1 year            RENT                 50048.0  Source Verified       Jan-2021     Current                                       ...    n              credit_card           20.67             0  Nov-2005                             0                                                                 8               11     8480.91         8480.91          2722.54             2722.54           1519.09         1203.45                  0.0               0.0                       0.0  Jan-2022                          227.48  Feb-2022            Jan-2022                                       0.0                                           1       INDIVIDUAL
9   38656052    41439857         10000                              10000.0  36 months       8.19        314.25  A       A5          10+ years           MORTGAGE            103000.0  Not Verified          Jan-2021     Current                                       ...    n              credit_card           15.95             0  Feb-2002                             1                    35.0                                        14               35     6934.63         6934.63          3766.45             3766.45           3065.37          701.08                  0.0               0.0                       0.0  Jan-2022                          314.25  Feb-2022            Jan-2022                                       0.0                                           1       INDIVIDUAL

Here are the changes I will make:

- The 'term' column adds the word 'months', even though this is stated in the schema, so this will be adjusted.
- The 'employment' length column has a slew of problems, namely with the excess symbols. Having < 1 year and 10+ years is not good practice. Additionally, when checking the value counts with the line 
df['employment_length].value_counts(), 10+ years is by far the most common entry, so we can't just remove the symbols to 0 and 10 years. The best solution I feel, is to first remove the word 'years', change < 1 into 1, and change 10+ into 10, making these floats too, so analysis can be performed. This is not ideal and may cause problems down the line, so this may be revisited if needed.

- 'issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date', and 'last_credit_pull_date' do not have the ideal format for a date in a dataset. Although no day is specified, YYYY-MM-DD will still be easier to work with here.

- loan_amount has a datatype of int64, where other monetary values are of datatype float. Let's be consistent and change this column to a float.

These changes are all fairly simple and will all be done below:

In [10]:
# Change columns with a datetime format from {month-name}-YEAR to YYYY-MM-DD

print(df.columns)

#data_transformer.convert_to_datetime(df, 'issue_date ')
data_transformer.convert_to_datetime(df, 'earliest_credit_line')
data_transformer.convert_to_datetime(df, 'last_payment_date')
data_transformer.convert_to_datetime(df, 'next_payment_date')
data_transformer.convert_to_datetime(df, 'last_credit_pull_date')

# Change columns of integers to strings

data_transformer.convert_to_string(df, 'id')
data_transformer.convert_to_string(df, 'member_id')

# Change columns of integers to floats

data_transformer.convert_to_float(df, 'loan_amount')

# In the term column, extract the year only

df['term'] = df['term'].str.extract('(\d+)', expand=False)

# Do the same for the employment length column

df['employment_length'] = df['employment_length'].str.extract('(\d+)', expand=False)
data_transformer.convert_to_float(df, 'employment_length')

#data_transformer.employment_length_formatter(df, 'employment_length')

df['employment_length'].value_counts()

Index(['id       ', 'member_id ', 'loan_amount ', 'funded_amount ',
       'funded_amount_inv  ', 'term      ', 'int_rate ', 'instalment ',
       'grade ', 'sub_grade ', 'employment_length ', 'home_ownership ',
       'annual_inc ', 'verification_status ', 'issue_date ',
       'loan_status                                         ', 'payment_plan ',
       'purpose            ', 'dti   ', 'delinq_2yrs ',
       'earliest_credit_line ', 'inq_last_6mths ', 'mths_since_last_delinq ',
       'mths_since_last_record ', 'open_accounts ', 'total_accounts ',
       'out_prncp ', 'out_prncp_inv ', 'total_payment  ', 'total_payment_inv ',
       'total_rec_prncp ', 'total_rec_int ', 'total_rec_late_fee ',
       'recoveries      ', 'collection_recovery_fee ', 'last_payment_date ',
       'last_payment_amount ', 'next_payment_date ', 'last_credit_pull_date ',
       'collections_12_mths_ex_med ', 'mths_since_last_major_derog ',
       'policy_code ', 'application_type'],
      dtype='object')

KeyError: 'earliest_credit_line'

Let's check to see if the changed columns are all in the correct datatype now.

In [ ]:
df.head()

         id member_id  loan_amount  funded_amount  funded_amount_inv term  int_rate  instalment grade sub_grade  employment_length home_ownership  annual_inc verification_status issue_date loan_status payment_plan             purpose    dti  delinq_2yrs earliest_credit_line  inq_last_6mths  mths_since_last_delinq  mths_since_last_record  open_accounts  total_accounts  out_prncp  out_prncp_inv  total_payment  total_payment_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_payment_date  last_payment_amount next_payment_date last_credit_pull_date  collections_12_mths_ex_med  mths_since_last_major_derog  policy_code application_type
0  38676116  41461848       8000.0         8000.0             8000.0   36      7.49      248.82     A        A4                5.0       MORTGAGE     46000.0        Not Verified 2021-01-01     Current            n         credit_card  19.54            2           1987-10-01               1                     5.0                     NaN             12              27    5529.70        5529.70        2982.51            2982.51          2470.30         512.21                 0.0         0.0                      0.0        2022-01-01               248.82        2022-02-01            2022-01-01                         0.0                          5.0            1       INDIVIDUAL
1  38656203  41440010      13200.0        13200.0            13200.0   36      6.99      407.52     A        A3                9.0           RENT     50000.0        Not Verified 2021-01-01     Current            n         credit_card  24.20            0           2001-09-01               0                     NaN                     NaN             15              31    9102.83        9102.83        4885.11            4885.11          4097.17         787.94                 0.0         0.0                      0.0        2022-01-01               407.52        2022-02-01            2022-01-01                         0.0                          NaN            1       INDIVIDUAL
2  38656154  41439961      16000.0        16000.0            16000.0   36      7.49      497.63     A        A4                8.0       MORTGAGE     73913.0     Source Verified 2021-01-01  Fully Paid            n         credit_card  16.92            0           1998-09-01               0                    69.0                     NaN              7              18       0.00           0.00       16824.54           16824.54         16000.00         824.54                 0.0         0.0                      0.0        2021-10-01             12850.16               NaT            2021-10-01                         0.0                          NaN            1       INDIVIDUAL
3  38656128  41439934      15000.0        15000.0            15000.0   36     14.31      514.93     C        C4                1.0           RENT     42000.0     Source Verified 2021-01-01  Fully Paid            n  debt_consolidation  35.52            0           2008-06-01               0                    74.0                     NaN              6              13       0.00           0.00       15947.47           15947.47         15000.00         947.47                 0.0         0.0                      0.0        2021-06-01             13899.67               NaT            2021-06-01                         0.0                          NaN            1       INDIVIDUAL
4  38656121  41439927      15000.0        15000.0            15000.0   36      6.03      456.54     A        A1               10.0       MORTGAGE    145000.0            Verified 2021-01-01     Current            n  debt_consolidation   3.33            0           2002-04-01               1                    37.0                     NaN             23              50   10297.47       10297.47        5473.46            5473.46          4702.53         770.93                 0.0         0.0                      0.0        2022-01-01               456.54        2022-02-01            2022-01-01                         0.0                          NaN            1       INDIVIDUAL

This all looks correct.

# Looking for missing data

Now all the columns have been correctly formatted, the next steps are to check for any missing data. Let's check the percentage of missing values per column

In [ ]:
from data_info import DataFrameInfo

# Create an instance of the class and print the percentage of empty values

value_finder = DataFrameInfo()

print('Percentage of null values in each column: ')
print(value_finder.percentage_of_missing(df))

Percentage of null values in each column:
id                              0.000000
member_id                       0.000000
loan_amount                     0.000000
funded_amount                   5.544799
funded_amount_inv               0.000000
term                            8.799395
int_rate                        9.531449
instalment                      0.000000
grade                           0.000000
sub_grade                       0.000000
employment_length               3.905515
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_date                      0.000000
loan_status                     0.000000
payment_plan                    0.000000
purpose                         0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_credit_line            0.000000
inq_last_6mths                  0.000000
mths_since_last_delinq         57.166565
mths_since_last_record         88.602460
open_accounts                   0.000000
total_accounts                  0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_payment                   0.000000
total_payment_inv               0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_payment_date               0.134609
last_payment_amount             0.000000
next_payment_date              60.127971
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
policy_code                     0.000000
application_type                0.000000
dtype: float64

# Initial Thoughts

By having an initial sift through the data, and changing the datatypes of necessary columns, it's time to perform some EDA.

The columns that stick out when checking the % of empty values are the following:
- mths_since_last_delinq
- mths_since_last_record
- next_payment_date
- mths_since_last_major_derog

With over half of the values missing, it's hard to imagine we can extract any valuable insights out of these columns, so they will be dropped:

In [ ]:
# Create instance of DataFrameTransform class to drop these columns
from data_imputer import DataFrameTransform

transformer = DataFrameTransform(df)

#transformer.drop_columns('mths_since_last_delinq')
transformer.drop_columns(['mths_since_last_delinq','mths_since_last_record','next_payment_date','mths_since_last_major_derog'])
df_dropped = transformer.data

This takes care of the especially empty columns. Now we need to deal with the remaining columns with null values. First, show all columns that still have null values:

In [ ]:
missing_value_columns = DataFrameInfo()
print(missing_value_columns.percentage_of_missing(df_dropped, 0))

# Save the new data set

df_dropped.to_csv('transformed_data.csv', index=False)

funded_amount                 5.544799
term                          8.799395
int_rate                      9.531449
employment_length             3.905515
last_payment_date             0.134609
last_credit_pull_date         0.012908
collections_12_mths_ex_med    0.094042
dtype: float64

So there are 7 columns with null values. They all have less than 10% of nulls so we will look at each column individually and figure out the best method for imputation. This will be done on impute_data.ipynb